<tr id="{{ data.taskForce }}{{ data.godName }}" data-done="" data-matchId="{{ data.matchId }}">
    <td class="player" data-playerId="{{ data.playerId }}">{% if data.playerName == null %}Player profile hidden{% else %}{{ data.playerName }}{% endif %}</td>
    <td class="god" data-godId="{{ data.godId }}"><img class="masteryLevel img-responsive" src="SRC/IMG/gods_icons/{{ data.godName }}.jpg" alt="{{ data.godName }}" /></td>
    <td class="account">{{ data.Account_Level }}</td>
    <td class="rank">{{ data.mastery_Level }}</td>
    <td class="godrank"><img class="masteryLevel img-responsive" src="SRC/IMG/GIFLOAD/loading.gif" alt="loading" /></td>
    <td class="kda"><img class="masteryLevel img-responsive" src="SRC/IMG/GIFLOAD/loading.gif" alt="loading" /></td>
    <td class="conquest leagueWrapper"><img class="masteryLevel img-responsive" src="SRC/IMG/GIFLOAD/loading.gif" alt="loading" /></td>
    <td class="joust leagueWrapper"><img class="masteryLevel img-responsive" src="SRC/IMG/GIFLOAD/loading.gif" alt="loading" /></td>
    <td class="duel leagueWrapper"><img class="masteryLevel img-responsive" src="SRC/IMG/GIFLOAD/loading.gif" alt="loading" /></td>
</tr>
